<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="layout/header :: encabezado-pagina"></div>
	<div th:replace="layout/recursos-css :: css-externos"></div>
    <!-- Custom styles for this template -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body style="margin-bottom: 0px;">
	<header th:insert="layout/navbar :: menu-principal"></header>
	<br><br><br><br>
	
    <main role="main">
      <div class="container"> 
        <div class="card">
          <h4 class="card-header"><strong>Listado de Usuarios</strong></h4>              
          <div class="card-body">
            <a class="btn btn-success" th:href="@{/usuarios/create}" title="Crear nuevo Usuario" role="button">
            	<i class="fas fa-file" aria-hidden="true"></i>&nbsp;Nueva&nbsp;&nbsp;
            </a>            
            <hr>
            
            <div th:if="${msg != null}" class="alert alert-success text-center" role="alert">
            	<i class="fas fa-check-circle" aria-hidden="true" th:text="${msg}">&nbsp;</i>
            </div>
            <div th:if="${msgFail != null}" class="alert alert-danger text-center" role="alert">
            	<i class="fas fa-times-circle" aria-hidden="true" th:text="${msgFail}">&nbsp;</i>
            </div>
            
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Contraseña</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="usuario : ${usuarios}">
                  <td th:text="${usuario.id}"></td>
                  <td th:text="${usuario.nombre}"></td>         
                  <td th:text="${usuario.email}"></td>
                  <td th:text="${usuario.username}"></td>
                  <td th:text="${usuario.password}"></td>
                  <td>
                    <a th:href="@{/usuarios/edit/{id} (id=${usuario.id})}" class="btn btn-warning btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:onclick="eliminar([[@{/usuarios/delete/{id} (id=${usuario.id})}]])" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
	
	<!-- Footer -->
	<br>
	<footer th:replace="layout/footer :: pie-pagina" class="py-4 bg-dark"></footer>
	<div th:replace="layout/recursos-js :: js-externos"></div>	
  </body>
</html>

