<th:block th:fragment="encabezado-pagina">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SpringJobs es el portal de empleo líder en Latinoamérica. Nuestra bolsa de trabajo publica nuevas ofertas de empleo cada día en todo México. ¡Postúlate Ahora!" />
    <meta name="title" content="Bolsa de trabajo México | Portal de empleo Líder en Latinoamérica" />
	<meta name="author" content="https://fdxdesarrollo5.000webhostapp.com/">
	<link rel="shortcut icon" th:href="@{/img/logo-spring.png}" />
	<title>Spring Jobs</title>
</th:block>
