<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="layout/header :: encabezado-pagina"></div>
	<div th:replace="layout/recursos-css :: css-externos"></div>
    <!-- Custom styles for this template -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body style="margin-bottom: 0px;">
	<header th:insert="layout/navbar :: menu-principal"></header>
	<br><br><br><br>
	
    <main role="main">
      <div class="container"> 
        <div class="card">
          <h4 class="card-header"><strong>Listado de Ofertas de Trabajo</strong></h4>              
          <div class="card-body">
            <a class="btn btn-success" th:href="@{/vacantes/create}" title="Crear nueva Oferta de Trabajo" role="button">
            	<i class="fas fa-file" aria-hidden="true"></i>&nbsp;Nueva&nbsp;&nbsp;
            </a>            
            <hr>
            
            <div th:if="${msg != null}" class="alert alert-success text-center" role="alert">
            	<i class="fas fa-check-circle" aria-hidden="true" th:text="${msg}">&nbsp;</i>
            </div>
            <div th:if="${msgFail != null}" class="alert alert-danger text-center" role="alert">
            	<i class="fas fa-times-circle" aria-hidden="true" th:text="${msgFail}">&nbsp;</i>
            </div>            
            
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Categoría</th>              
                  <th scope="col">Fecha Pub.</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Destacada</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="vacante : ${vacantes}">
                  <td th:text="${vacante.nombre}"></td>
                  <td th:text="${vacante.categoria.nombre}"></td>
                  <td th:text="${#dates.format(vacante.fecha,'dd/MM/yyyy')}"></td>
                  <!-- <td th:text="${vacante.estatus}"></td> -->
				  <td th:switch="${vacante.estatus}">
				      <p th:case="'1'">Creada</p>
				      <p th:case="'2'">Aprobada</p>
				      <p th:case="'3'">Eliminada</p>
				  </td>
				  <td align="center" th:text="${vacante.destacado == 1 ? 'SI' : 'NO'}"></td>
                  <td>
                    <a th:href="@{/vacantes/edit/{id} (id=${vacante.id})}" class="btn btn-warning btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/vacantes/delete/{id} (id=${vacante.id})}" onclick="return confirm('¿Eliminar registro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            
		    <nav th:if="${vacantes.totalPages > 0}" aria-label="Page navigation example" >
		    	<ul class="pagination justify-content-center">
		    		<li class="page-item" th:classappend="${vacantes.number == 0 ? 'disabled' : ''}">
		    			<a th:href="@{/vacantes/indexPaginate(page=${vacantes.number - 1})}" class="page-link">Anterior</a>
		    		</li>
		    					
		    		<li class="page-item" th:classappend="${i eq vacantes.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, vacantes.totalPages, 1)}">
		    			<a class="page-link" th:href="@{/vacantes/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		    		</li>
		    		<li class="page-item" th:classappend="${vacantes.number == (vacantes.totalPages - 1) ? 'disabled' : ''}">
		    			<a th:href="@{/vacantes/indexPaginate(page=${vacantes.number + 1})}" class="page-link">Siguiente</a>
		    		</li>
		    	</ul>
		    </nav>
		    
		    <!-- <nav th:if="${vacantes.totalPages > 0}" aria-label="Page navigation example">
		    	<ul class="pagination">
		    		<li class="page-item">
		    			<a th:href="@{/vacantes/indexPaginate(page=${vacantes.number -1})}" class="page-link">Anterior</a>
		    		</li>
		    		<li class="page-item">
		    			<a th:href="@{/vacantes/indexPaginate(page=${vacantes.number +1})}" class="page-link">Siguiente</a>
		    		</li>
		    	</ul>
		    </nav> -->
            
          </div>
        </div>
      </div>
    </main>

	<!-- Footer -->
	<br>
	<footer th:replace="layout/footer :: pie-pagina" class="py-4 bg-dark"></footer>
	<div th:replace="layout/recursos-js :: js-externos"></div>
  </body>
</html>

